Repository DataDog/datadog-agent-buildimages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/agent-devx, @DataDog/agent-runtimes, @DataDog/ebpf-platform, @DataDog/windows-products, @DataDog/agent-build, @DataDog/container-platform

[push_to_datadog_agent] Update go version to 1.24.9
  go.env
Owners: @DataDog/agent-runtimes

fix(linux): AI-suggested fixes for missing things
  linux/Dockerfile
Owners: @DataDog/agent-devx, @DataDog/agent-build

fix(ci): Use correct image tag for dev envs base
  .gitlab/build.yml
Owners: @DataDog/agent-devx

[push_to_datadog_agent] Update go version to 1.24.9 (#1005)
  go.env
Owners: @DataDog/agent-runtimes

chore(devcontainer): upgrade dda to 0.29.0
  .gitlab/devcontainer.yml
Owners: @DataDog/agent-devx

chore(devcontainer): upgrade dda to 0.29.0 (#1006)
  .gitlab/devcontainer.yml
Owners: @DataDog/agent-devx

fix(windows): Bump rust to fix cbindgen issue
  dev-envs/linux/tools.sh
  linux/Dockerfile
  rpm-arm64/Dockerfile
  rpm-armhf/Dockerfile
  rpm-x64/Dockerfile
  windows/versions.ps1
Owners: @DataDog/agent-devx, @DataDog/agent-build, @DataDog/windows-products

remove unnecessary duplicate argument
  linux/Dockerfile
  linux/arm64/build.env
  linux/x64/build.env
  rpm-arm64/Dockerfile
  rpm-armhf/Dockerfile
  rpm-x64/Dockerfile
Owners: @DataDog/agent-devx, @DataDog/agent-build

fix(windows): Bump rust to fix cbindgen issue (#1007)
  dev-envs/linux/tools.sh
  linux/Dockerfile
  linux/arm64/build.env
  linux/x64/build.env
  rpm-arm64/Dockerfile
  rpm-armhf/Dockerfile
  rpm-x64/Dockerfile
  windows/versions.ps1
Owners: @DataDog/agent-devx, @DataDog/agent-build, @DataDog/windows-products

fix: Use file-specific bind mounts in `RUN` directives
  agent-deploy/Dockerfile
  btf-gen/Dockerfile
  dd-agent-testing/Dockerfile
  dev-envs/linux/Dockerfile
  devcontainer/Dockerfile
  docker-arm64/Dockerfile
  docker-x64/Dockerfile
  linux/Dockerfile
  rpm-arm64/Dockerfile
  rpm-armhf/Dockerfile
  rpm-x64/Dockerfile
Owners: @DataDog/agent-devx, @DataDog/ebpf-platform, @DataDog/container-platform, @DataDog/agent-build

refactor(linux): Move all installation logic into bind-mounted scripts
  dev-envs/linux/Dockerfile
  linux/Dockerfile
  setup/ciuploader.sh
  setup/codecov.sh
  setup/ctng.sh
  setup/dpkg.sh
  setup/protobuf.sh
  setup/rust.sh
  setup/rvm.sh
  setup/texinfo.sh
  setup/vault.sh
Owners: @DataDog/agent-devx, @DataDog/agent-build

feat(linux): Use `ADD` instructions instead of shell-based calls to `curl` or `wget`
  agent-deploy/Dockerfile
  btf-gen/Dockerfile
  dd-agent-testing/Dockerfile
  docker-arm64/Dockerfile
  docker-x64/Dockerfile
  linux/Dockerfile
  rpm-arm64/Dockerfile
  rpm-x64/Dockerfile
  setup/authanywhere.sh
  setup/ciuploader.sh
  setup/ctng.sh
  setup/dpkg.sh
  setup/protobuf.sh
  setup/rust.sh
  setup/rvm.sh
  setup/texinfo.sh
  setup/vault.sh
Owners: @DataDog/agent-devx, @DataDog/ebpf-platform, @DataDog/agent-build

refactor(linux): Move build args closer to their usage
  linux/Dockerfile
Owners: @DataDog/agent-devx, @DataDog/agent-build

feat(linux): Split Dockerfile into multiple stages
  linux/Dockerfile
Owners: @DataDog/agent-devx, @DataDog/agent-build

refactor(linux): Start use of same format as builtin `BUILDARCH`
  linux/Dockerfile
  linux/amd64/build.env
  linux/amd64/cargo-config.toml
  linux/amd64/config-aarch64-unknown-gnu-linux-glibc2.23
  linux/amd64/config-x86_64-unknown-gnu-linux-glibc2.17
  linux/amd64/toolchain_x86_64.cmake
Owners: @DataDog/agent-devx, @DataDog/agent-build

fix(linux): Build `texinfo` and `crosstool-ng` together
  linux/Dockerfile
Owners: @DataDog/agent-devx, @DataDog/agent-build

feat(linux): Use multiple base images for more parallelization
  linux/Dockerfile
  setup/dda.sh
  setup/python.sh
  setup/rvm.sh
Owners: @DataDog/agent-devx, @DataDog/agent-build

feat(ci): Use bake-based build logic in CI
  .gitlab/build.yml
  docker-bake.hcl
Owners: @DataDog/agent-devx

feat(linux): Create docker bake file regrouping all build args
  docker-bake.hcl
  linux/Dockerfile
  linux/aarch64/cargo-config.toml
  linux/aarch64/config-aarch64-unknown-gnu-linux-glibc2.23
  linux/aarch64/config-x86_64-unknown-gnu-linux-glibc2.17
  linux/aarch64/toolchain_aarch64.cmake
  linux/amd64/build.env
  linux/arm64/build.env
  linux/x86_64/cargo-config.toml
  linux/x86_64/config-aarch64-unknown-gnu-linux-glibc2.23
  linux/x86_64/config-x86_64-unknown-gnu-linux-glibc2.17
  linux/x86_64/toolchain_x86_64.cmake
  python-packages-versions.txt
  setup/bazelisk.sh
  setup/ctng.sh
  setup/dda.sh
  setup/go.sh
  setup/python.sh
Owners: @DataDog/agent-devx, @DataDog/agent-build

refactor(linux): Move setup scripts to `linux/scripts`
  linux/Dockerfile
  linux/scripts/authanywhere.sh
  linux/scripts/bazelisk.sh
  linux/scripts/codecov.sh
  linux/scripts/ctng.sh
  linux/scripts/dda.sh
  linux/scripts/dpkg.sh
  linux/scripts/go.sh
  linux/scripts/protobuf.sh
  linux/scripts/python.sh
  linux/scripts/rust.sh
  linux/scripts/rvm.sh
  linux/scripts/texinfo.sh
  linux/scripts/vault.sh
Owners: @DataDog/agent-devx, @DataDog/agent-build

feat(bake): Add caching details to bakefile
  docker-bake.hcl
Owners: @DataDog/agent-devx

fix(ci): Revert functional changes to non-`linux` images
  agent-deploy/Dockerfile
  btf-gen/Dockerfile
  dd-agent-testing/Dockerfile
  docker-arm64/Dockerfile
  docker-x64/Dockerfile
  rpm-arm64/Dockerfile
  rpm-x64/Dockerfile
  setup/authanywhere.sh
  setup/bazelisk.sh
  setup/codecov.sh
  setup/go.sh
  setup/python.sh
  windows/helpers/phase3/install_winsign.ps1
Owners: @DataDog/agent-devx, @DataDog/ebpf-platform, @DataDog/agent-build, @DataDog/windows-products

fix(linux): AI-suggested fixes for missing things
  linux/Dockerfile
Owners: @DataDog/agent-devx, @DataDog/agent-build

update cacert
  rpm-arm64/Dockerfile
  rpm-armhf/Dockerfile
  rpm-x64/Dockerfile
  windows/versions.ps1
Owners: @DataDog/agent-devx, @DataDog/agent-build, @DataDog/windows-products

[add-datadog-packages-acix] Added datadog-packages
  agent-deploy/Dockerfile
Owners: @DataDog/agent-devx

update cacert (#1009)
  rpm-arm64/Dockerfile
  rpm-armhf/Dockerfile
  rpm-x64/Dockerfile
  windows/versions.ps1
Owners: @DataDog/agent-devx, @DataDog/agent-build, @DataDog/windows-products

add skopeo to be able to build iox tar file
  docker-x64/Dockerfile
Owners: @DataDog/agent-build, @DataDog/agent-devx

add skopeo to be able to build iox tar file (#1011)
  docker-x64/Dockerfile
Owners: @DataDog/agent-build, @DataDog/agent-devx

[add-datadog-packages-acix] CI job token within args
  agent-deploy/Dockerfile
  build.sh
Owners: @DataDog/agent-devx

[add-datadog-packages-acix] Added datadog-packages to linux image
  build.sh
  linux/Dockerfile
Owners: @DataDog/agent-devx, @DataDog/agent-build

[add-datadog-packages-acix] Moved to script
  agent-deploy/Dockerfile
  linux/Dockerfile
  setup/datadog_packages.sh
Owners: @DataDog/agent-devx, @DataDog/agent-build

[add-datadog-packages-acix] Test without token
  build.sh
Owners: @DataDog/agent-devx

[add-datadog-packages-acix] Fixed syntax error
  build.sh
Owners: @DataDog/agent-devx

[add-datadog-packages-acix] Pass token
  build.sh
Owners: @DataDog/agent-devx

[add-datadog-packages-acix] Fixed linux
  setup/authanywhere.sh
  setup/datadog_packages.sh
Owners: @DataDog/agent-devx

[add-datadog-packages-acix] Removed comment
  setup/datadog_packages.sh
Owners: @DataDog/agent-devx

[add-datadog-packages-acix] CI job token as secret mount
  agent-deploy/Dockerfile
  build.sh
  linux/Dockerfile
Owners: @DataDog/agent-devx, @DataDog/agent-build

[add-datadog-packages-acix] Removed comment
  build.sh
Owners: @DataDog/agent-devx

[add-datadog-packages-acix] Test secrets
  agent-deploy/Dockerfile
  build.sh
Owners: @DataDog/agent-devx

[add-datadog-packages-acix] Exported secret
  build.sh
Owners: @DataDog/agent-devx

.github/CODEOWNERS:

# Code owners

# The listed owners will be automatically added as reviewers for PRs,
# to ensure code quality and consistency, and identify
# possible side effects.
# PRs should still be peer-reviewed by the team opening the PR

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

*                                   @DataDog/agent-devx

go.env                              @DataDog/agent-runtimes
dda.env                             @DataDog/agent-devx

.gitlab/kernel-version-testing.yml  @DataDog/ebpf-platform @DataDog/agent-devx

.github/workflows/go-update.yml     @DataDog/agent-runtimes

.dda/scripts/run/update/go/         @DataDog/agent-runtimes

/entrypoint-sysprobe.sh             @DataDog/ebpf-platform @DataDog/agent-devx

/build-container.ps1                @DataDog/windows-products @DataDog/agent-devx

# eBPF / KMT images
/btf-gen/                           @DataDog/ebpf-platform @DataDog/agent-devx
/kernel-version-testing/            @DataDog/ebpf-platform @DataDog/agent-devx

# Linux test & build images
/rpm-arm64/                         @DataDog/agent-devx @DataDog/agent-build
/rpm-armhf/                         @DataDog/agent-devx @DataDog/agent-build
/rpm-x64/                           @DataDog/agent-devx @DataDog/agent-build
/linux/                             @DataDog/agent-devx @DataDog/agent-build

# Windows test & build images
/windows/                           @DataDog/windows-products @DataDog/agent-devx

# Docker images
/docker-arm64/                      @DataDog/agent-build @DataDog/agent-devx
/docker-x64/                        @DataDog/agent-build @DataDog/agent-devx
/dev-envs/                          @DataDog/agent-devx
/devcontainer/                      @DataDog/agent-devx @DataDog/container-platform
