Repository DataDog/datadog-agent-buildimages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/agent-devx, @DataDog/agent-runtimes, @DataDog/ebpf-platform, @DataDog/windows-products, @DataDog/agent-build, @DataDog/container-platform

[add-datadog-packages-acix] Use job token as secret
  agent-deploy/Dockerfile
  build.sh
  linux/Dockerfile
Owners: @DataDog/agent-devx, @DataDog/agent-build

[add-datadog-packages-acix] No flag in bashrc
  setup/datadog_packages.sh
Owners: @DataDog/agent-devx

[add-datadog-packages-acix] Made config temporary
  setup/datadog_packages.sh
Owners: @DataDog/agent-devx

[add-datadog-packages-acix] Custom temporary git config
  setup/datadog_packages.sh
Owners: @DataDog/agent-devx

[add-datadog-packages-acix] Removed go path
  setup/datadog_packages.sh
Owners: @DataDog/agent-devx

[add-datadog-packages-acix] Set and unset
  setup/datadog_packages.sh
Owners: @DataDog/agent-devx

Add deps required for KMT
  linux/Dockerfile
Owners: @DataDog/agent-devx, @DataDog/agent-build

Add dd-octo-sts
  linux/Dockerfile
Owners: @DataDog/agent-devx, @DataDog/agent-build

Add Pulumi in linux image
  linux/Dockerfile
Owners: @DataDog/agent-devx, @DataDog/agent-build

[add-datadog-packages-acix] Use build.env
  setup/datadog_packages.sh
Owners: @DataDog/agent-devx

[add-datadog-packages-acix] Added build.env file
  build.env
Owners: @DataDog/agent-devx

[add-datadog-packages-acix] Removed comment
  setup/datadog_packages.sh
Owners: @DataDog/agent-devx

Set pulumi version
  linux/Dockerfile
Owners: @DataDog/agent-devx, @DataDog/agent-build

[ACIX-936] Added datadog-packages (#1010)
  agent-deploy/Dockerfile
  build.env
  build.sh
  linux/Dockerfile
  setup/authanywhere.sh
  setup/datadog_packages.sh
Owners: @DataDog/agent-devx, @DataDog/agent-build

[add-orchestrion] Added orchestrion to linux
  linux/Dockerfile
Owners: @DataDog/agent-devx, @DataDog/agent-build

add automake needed by install-from-source
  dev-envs/linux/ssh.sh
Owners: @DataDog/agent-devx

Address comments
  linux/Dockerfile
Owners: @DataDog/agent-devx, @DataDog/agent-build

Add Pulumi in linux image (#1008)
  linux/Dockerfile
Owners: @DataDog/agent-devx, @DataDog/agent-build

Bump dda version
  dda.env
Owners: @DataDog/agent-devx

Clean `apt` leftovers before update to fix CI failures
  agent-deploy/Dockerfile
  btf-gen/Dockerfile
  dd-agent-testing/Dockerfile
  dev-envs/linux/docker.sh
  dev-envs/linux/ssh.sh
  devcontainer/Dockerfile
  docker-arm64/Dockerfile
  docker-x64/Dockerfile
  kernel-version-testing/kernel-version-testing_arm64/Dockerfile
  kernel-version-testing/kernel-version-testing_x64/Dockerfile
  linux/Dockerfile
  rpm-arm64/Dockerfile
  rpm-armhf/Dockerfile
  rpm-x64/Dockerfile
  setup/python.sh
Owners: @DataDog/agent-devx, @DataDog/ebpf-platform, @DataDog/container-platform, @DataDog/agent-build

Bump dda version
  dda.env
Owners: @DataDog/agent-devx

Use docker-in-docker to better control infra
  .gitlab/build.yml
Owners: @DataDog/agent-devx

Try to split into several layers
  linux/Dockerfile
Owners: @DataDog/agent-devx, @DataDog/agent-build

Revert split
  linux/Dockerfile
Owners: @DataDog/agent-devx, @DataDog/agent-build

Remove perl dependency
  rpm-arm64/Dockerfile
  rpm-x64/Dockerfile
Owners: @DataDog/agent-devx, @DataDog/agent-build

Bump dda version to v0.30.2 (#1014)
  dda.env
  rpm-arm64/Dockerfile
  rpm-x64/Dockerfile
Owners: @DataDog/agent-devx, @DataDog/agent-build

install the latest rust version before calling cargo
  dev-envs/linux/tools.sh
Owners: @DataDog/agent-devx

fix(readme): fix broken link
  README.md
Owners: @DataDog/agent-devx

fix(readme): fix broken link (#1018)
  README.md
Owners: @DataDog/agent-devx

Try to pin Visual Studio version
  windows/versions.ps1
Owners: @DataDog/windows-products, @DataDog/agent-devx

Try updating entrypoint
  entrypoint.sh
Owners: @DataDog/agent-devx

Fix installation of dependencies on the armhf image
  setup/python.sh
Owners: @DataDog/agent-devx

Apply suggestions from code review
  setup/python.sh
Owners: @DataDog/agent-devx

Fix installation of dependencies on the armhf image (#1022)
  setup/python.sh
Owners: @DataDog/agent-devx

[dda-0-30-3] Updated
  dda.env
Owners: @DataDog/agent-devx

Try to pin Visual Studio version (#1019)
  windows/versions.ps1
Owners: @DataDog/windows-products, @DataDog/agent-devx

[dda-0-30-3] Updated release
  dda.env
Owners: @DataDog/agent-devx

Updated dda to v0.30.4 (#1023)
  dda.env
Owners: @DataDog/agent-devx

Install `yq` (superset of `jq`)
  docker-x64/Dockerfile
  linux/Dockerfile
Owners: @DataDog/agent-build, @DataDog/agent-devx

update path
  linux/Dockerfile
Owners: @DataDog/agent-devx, @DataDog/agent-build

.github/CODEOWNERS:

# Code owners

# The listed owners will be automatically added as reviewers for PRs,
# to ensure code quality and consistency, and identify
# possible side effects.
# PRs should still be peer-reviewed by the team opening the PR

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

*                                   @DataDog/agent-devx

go.env                              @DataDog/agent-runtimes
dda.env                             @DataDog/agent-devx

.gitlab/kernel-version-testing.yml  @DataDog/ebpf-platform @DataDog/agent-devx

.github/workflows/go-update.yml     @DataDog/agent-runtimes

.dda/scripts/run/update/go/         @DataDog/agent-runtimes

/entrypoint-sysprobe.sh             @DataDog/ebpf-platform @DataDog/agent-devx

/build-container.ps1                @DataDog/windows-products @DataDog/agent-devx

# eBPF / KMT images
/btf-gen/                           @DataDog/ebpf-platform @DataDog/agent-devx
/kernel-version-testing/            @DataDog/ebpf-platform @DataDog/agent-devx

# Linux test & build images
/rpm-arm64/                         @DataDog/agent-devx @DataDog/agent-build
/rpm-armhf/                         @DataDog/agent-devx @DataDog/agent-build
/rpm-x64/                           @DataDog/agent-devx @DataDog/agent-build
/linux/                             @DataDog/agent-devx @DataDog/agent-build

# Windows test & build images
/windows/                           @DataDog/windows-products @DataDog/agent-devx

# Docker images
/docker-arm64/                      @DataDog/agent-build @DataDog/agent-devx
/docker-x64/                        @DataDog/agent-build @DataDog/agent-devx
/dev-envs/                          @DataDog/agent-devx
/devcontainer/                      @DataDog/agent-devx @DataDog/container-platform
