Repository DataDog/datadog-agent-buildimages, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/agent-devx, @DataDog/agent-runtimes, @DataDog/ebpf-platform, @DataDog/windows-products, @DataDog/agent-build, @DataDog/container-platform

.github/CODEOWNERS:

# Code owners

# The listed owners will be automatically added as reviewers for PRs,
# to ensure code quality and consistency, and identify
# possible side effects.
# PRs should still be peer-reviewed by the team opening the PR

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

*                                   @DataDog/agent-devx

go.env                              @DataDog/agent-runtimes
dda.env                             @DataDog/agent-devx

.gitlab/kernel-version-testing.yml  @DataDog/ebpf-platform @DataDog/agent-devx

.github/workflows/go-update.yml     @DataDog/agent-runtimes

.dda/scripts/run/update/go/         @DataDog/agent-runtimes

/entrypoint-sysprobe.sh             @DataDog/ebpf-platform @DataDog/agent-devx

/build-container.ps1                @DataDog/windows-products @DataDog/agent-devx

# eBPF / KMT images
/btf-gen/                           @DataDog/ebpf-platform @DataDog/agent-devx
/kernel-version-testing/            @DataDog/ebpf-platform @DataDog/agent-devx

# Linux test & build images
/rpm-arm64/                         @DataDog/agent-devx @DataDog/agent-build
/rpm-armhf/                         @DataDog/agent-devx @DataDog/agent-build
/rpm-x64/                           @DataDog/agent-devx @DataDog/agent-build
/linux/                             @DataDog/agent-devx @DataDog/agent-build

# Windows test & build images
/windows/                           @DataDog/windows-products @DataDog/agent-devx

# Docker images
/docker-arm64/                      @DataDog/agent-build @DataDog/agent-devx
/docker-x64/                        @DataDog/agent-build @DataDog/agent-devx
/dev-envs/                          @DataDog/agent-devx
/devcontainer/                      @DataDog/agent-devx @DataDog/container-platform

Fix unrelated error: `golangci-lint` version change
  dev-envs/linux/tools.sh
Owners: @DataDog/agent-devx

Install `yq` (superset of `jq`) (#1020)
  dev-envs/linux/tools.sh
  docker-x64/Dockerfile
  linux/Dockerfile
Owners: @DataDog/agent-devx, @DataDog/agent-build

change base to have git for datadog-packages
  linux/Dockerfile
Owners: @DataDog/agent-devx, @DataDog/agent-build

[dda] bump to 0.31.0
  dda.env
Owners: @DataDog/agent-devx

[dda] bump to 0.31.0 (#1024)
  dda.env
Owners: @DataDog/agent-devx

[devcontainer] install dda last
  devcontainer/Dockerfile
Owners: @DataDog/agent-devx, @DataDog/container-platform

[devcontainer] bump dda to dda.env
  .gitlab/devcontainer.yml
Owners: @DataDog/agent-devx

Update .gitlab/devcontainer.yml
  .gitlab/devcontainer.yml
Owners: @DataDog/agent-devx

[devcontainer] install dda last (#1025)
  .gitlab/devcontainer.yml
  devcontainer/Dockerfile
Owners: @DataDog/agent-devx, @DataDog/container-platform

Revert "[devcontainer] install dda last (#1025)"
  .gitlab/devcontainer.yml
  devcontainer/Dockerfile
Owners: @DataDog/agent-devx, @DataDog/container-platform

Revert "[devcontainer] install dda last (#1025)" (#1029)
  .gitlab/devcontainer.yml
  devcontainer/Dockerfile
Owners: @DataDog/agent-devx, @DataDog/container-platform

fix: Avoid including private `datadog-packages` source in image
  setup/datadog_packages.sh
Owners: @DataDog/agent-devx

feat: Cleanup go caches in final `linux` image
  linux/Dockerfile
Owners: @DataDog/agent-devx, @DataDog/agent-build

fix: go not available
  linux/Dockerfile
Owners: @DataDog/agent-devx, @DataDog/agent-build

Remove `datadog-packages` source cache from images (#1030)
  linux/Dockerfile
  setup/datadog_packages.sh
Owners: @DataDog/agent-devx, @DataDog/agent-build
